<%- model_class = Service -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Servicios" %></h1>
</div>
<table class="table table-striped">
<!--
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name("Id") %></th>
      <th><%= model_class.human_attribute_name("Nombre") %></th>
      <th><%= model_class.human_attribute_name("Detalles") %></th>
      <th><%= model_class.human_attribute_name("Tipo de servicios") %></th>
      <th><%=t '.actions', :default => t("Acciones") %></th>
    </tr>
  </thead>
  -->
  <tbody>
    <% @services.each do |service| %>

      <!--div class="row"-->
        <div class="col s12 m5">
          <div class="card">
            <div class="card-image">
              <img src="peinado.jpg">
              <span class="card-title"><%= service.name%></span>
            </div>
            <div class="card-content">
              <p>Servicio: <%=service.name%></p>
              <p>Descripcion:</p>
              <p><%=service.detail %></p>
              <p></p>
            </div>
            <div class="card-action">
                <!---<%= link_to t('.show', :default => t("Mostrar")),
                            service_path(service)%>-->
                <%= link_to t('.edit', :default => t("Editar")),
                            edit_service_path(service)%>
                <%= link_to t('.destroy', :default => t("Eliminar")),
                            service_path(service),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Seguro?')) }
                            %>
            </div>
          </div>
        </div>
      <!--/div-->

      <!--
      <tr>
        <td><%= link_to service.id, service_path(service) %></td>
        <td><%= service.name %></td>
        <td><%= service.detail %></td>
        <td><%= service.typeServices %></td>
        <td>
          <%= link_to t('.show', :default => t("Mostrar")),
                      service_path(service), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("Editar")),
                      edit_service_path(service), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("Eliminar")),
                      service_path(service),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Seguro?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
      -->
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("Nuevo Servicio")),
            new_service_path,
            :class => 'btn btn-primary' %>
