<%- model_class = Service -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name("Nombre") %>:</strong></dt>
  <dd><%= @service.name %></dd>
  <dt><strong><%= model_class.human_attribute_name("Detalles") %>:</strong></dt>
  <dd><%= @service.detail %></dd>
  <dt><strong><%= model_class.human_attribute_name("Tipo de servicio") %>:</strong></dt>
  <dd><%= @service.typeServices_id %></dd>
</dl>

<%= link_to t('.back', :default => t("Volver")),
              services_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("Editar")),
              edit_service_path(@service), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("Eliminar")),
              service_path(@service),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Seguro?')) },
              :class => 'btn btn-danger' %>
