<<<<<<< HEAD
<h2>Reenviar instrucciones de confirmación</h2>
=======
<h2>Re-enviar Confirmacion</h2>
>>>>>>> 2eef685c408dbe60ba02951295ddb5467f043290

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Reenvio de confirmacion de instrucciones" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
