<%= form_for @pet, :html => { :class => "form-horizontal pet" } do |f| %>

  <% if @pet.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Id", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ci, :class => 'form-control' %>
    </div>
    <%=f.error_span(:ci) %>
  </div>
  <div class="form-group">
    <%= f.label "Nombre", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label "Género", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :gender, :class => 'form-control' %>
    </div>
    <%=f.error_span(:gender) %>
  </div>
  <div class="form-group">
    <%= f.label "Raza", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :race, :class => 'form-control' %>
    </div>
    <%=f.error_span(:race) %>
  </div>
  <div class="form-group">
    <%= f.label "Fecha de nacimiento", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select :bornDate, :class => 'form-control' %>
    </div>
    <%=f.error_span(:bornDate) %>
  </div>

  <%= f.hidden_field :client_id, :value => current_user.data_id %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Aceptar', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("Cancelar")),
                pets_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
