<%- model_class = Pet -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Mascotas" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name("Id") %></th>
      <th><%= model_class.human_attribute_name("CI") %></th>
      <th><%= model_class.human_attribute_name("Nombre") %></th>
      <th><%= model_class.human_attribute_name("Género") %></th>
      <th><%= model_class.human_attribute_name("Raza") %></th>
      <th><%= model_class.human_attribute_name("Fecha de Nacimiento") %></th>
      <th><%= model_class.human_attribute_name("Nombre Cliente") %></th>
      <th>Dia de alta</th>
      <th><%=t '.actions', :default => t("Acciones") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= link_to pet.id, pet_path(pet) %></td>
        <td><%= pet.ci %></td>
        <td><%= pet.name %></td>
        <td><%= pet.gender %></td>
        <td><%= pet.race %></td>
        <td><%= pet.bornDate %></td>
        <td><%= pet.client.name %></td>
        <% if pet.dischargeDate > Time.now.to_date %>
          <td class="notification"><%= pet.dischargeDate %></td>
        <%else%>
          <td><%= 'Sin Novedades' %></td>
        <%end%>
        <td>
          <%= link_to t('.show', :default => t("Mostrar")),
                      pet_path(pet) %>
          <%= link_to t('.edit', :default => t("Editar")),
                      edit_pet_path(pet) %>
          <%= link_to t('.destroy', :default => t("Eliminar")),
                      pet_path(pet),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Seguro?'))} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("Nuevo")),
            new_pet_path,
            :class => 'btn btn-primary' %>
