<%- model_class = Pet -%>
<div class="page-header">
  <h1>Mascota</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name("CI") %>:</strong></dt>
  <dd><%= @pet.ci %></dd>
  <dt><strong><%= model_class.human_attribute_name("Nombre") %>:</strong></dt>
  <dd><%= @pet.name %></dd>
  <dt><strong><%= model_class.human_attribute_name("Género") %>:</strong></dt>
  <dd><%= @pet.gender %></dd>
  <dt><strong><%= model_class.human_attribute_name("Raza") %>:</strong></dt>
  <dd><%= @pet.race %></dd>
  <dt><strong><%= model_class.human_attribute_name("Fecha de nacimiento") %>:</strong></dt>
  <dd><%= @pet.bornDate %></dd>
  <dt><strong><%= model_class.human_attribute_name("Id Cliente") %>:</strong></dt>
  <dd><%= @pet.client.name %></dd>
</dl>

<h4>Historico de Servicios</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre del veterinario</th>
      <th>Nombre del Servicio</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    <% @pet.registers.each do |register| %>
      <tr>
        <td><%= register.veterinary.name %></td>
        <td><%= register.service.name %></td>
        <td><%= register.registerDate %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%if !current_user.nil? %>
  <%if current_user.role.name != 'cliente' %>
    <%= link_to "Internar", new_internship_path(id: @pet.id), :class => 'btn btn-default' %>
    <%= link_to "Servicio", "servicio/#{@pet.id}", :class => 'btn btn-default' %>
    <%= link_to "Vacuna", "vacuna/#{@pet.id}", :class => 'btn btn-default' %>
  <%end%>
<%end%>

<%= link_to t('.back', :default => t("Volver")),
              pets_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("Editar")),
              edit_pet_path(@pet), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("Eliminar")),
              pet_path(@pet),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Seguro?')) },
              :class => 'btn btn-danger' %>
