<%= form_with(model: type_product, local: true, :html => { :class => "form-horizontal products" }) do |form| %>
  <% if type_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_product.errors.count, "error") %> prohibited this type_product from being saved:</h2>

      <ul>
      <% type_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <%= form.label :nombre, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= form.text_field :name, id: :type_product_name, :class => 'form-control' %>
    </div>
  </div>


  <div class= "actions">
    <div class="col-lg-offset-2 col-lg-2">
      <%= form.submit :Crear, :class => 'btn btn-primary'%>
    </div>
  </div>
<% end %>
