<%= form_with(model: type_product, local: true) do |form| %>
  <% if type_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_product.errors.count, "error") %> prohibited this type_product from being saved:</h2>

      <ul>
      <% type_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :name, id: :type_product_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
