<p id="notice"><%= notice %></p>

<h1>Vacunas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Detalle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacunas.each do |vacuna| %>
      <tr>
        <td><%= vacuna.name %></td>
        <td><%= vacuna.detail %></td>
        <td><%= link_to 'Mostrar', vacuna %></td>
        <td><%= link_to 'Editar', edit_vacuna_path(vacuna) %></td>
        <td><%= link_to 'Eliminar', vacuna, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Vacuna', new_vacuna_path %>
