<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vacuna.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @vacuna.detail %>
</p>

<%= link_to 'Edit', edit_vacuna_path(@vacuna) %> |
<%= link_to 'Back', vacunas_path %>
