<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @vacuna.name %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @vacuna.detail %>
</p>

<%= link_to 'Editar', edit_vacuna_path(@vacuna) %> |
<%= link_to 'Atras', vacunas_path %>
