<%= form_for @internship, :html => { :class => "form-horizontal internship" } do |f| %>

  <% if @internship.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@internship.errors.count, "error") %> prohibited this internship from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @internship.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Fecha de hospitalización', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select :intership_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:intership_date) %>
  </div>
  <div class="form-group">
    <%= f.label 'Fecha de Alta', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select :dischargeDate, :class => 'form-control' %>
    </div>
    <%=f.error_span(:dischargeDate) %>
  </div>
  <div class="form-group">
    <%= f.label 'Detalle', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :deail, :class => 'form-control' %>
    </div>
    <%=f.error_span(:deail) %>
  </div>

  <%= f.hidden_field :pet_id,:class => 'form-control', :value => @internship.pet_id %>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Crear', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("Cancelar")),
                pets_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
