<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Detalles:</strong>
  <%= @product.detail %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @product.quantity %>
</p>


<div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= link_to 'Editar', edit_product_path(@product), :class => 'btn btn-primary'%>|
      <%= link_to 'Atras', products_path, :class => 'btn btn-primary' %>
    </div>
</div>