<%= form_with(model: lab, local: true) do |form| %>
  <% if lab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lab.errors.count, "error") %> prohibited this lab from being saved:</h2>

      <ul>
      <% lab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Mascota"%>
    
    <%= collection_select(:lab, :pet_id, Pet.all, :id, :name, {}, {:class =>'browser-default'})%>
    
  </div>

  <div class="form-group">
    <%= form.label "Nombre del estudio", :class => 'control-label col-lg-2' %>
    <%= form.text_field :name, id: :lab_name %>
  </div>

  <div class="form-group">
    <%= form.label "Tipo del estudio", :class => 'control-label col-lg-2' %>
    <%= form.text_field :lab_type, id: :lab_type %>
  </div>

  <div class="form-group">
    <%= form.label "Descripcion", :class => 'control-label col-lg-2' %>
    <%= form.text_area :description, id: :lab_description %>
  </div>

  <div class="form-group">
    <%= form.label "Imagen", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= form.file_field :imagen, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= form.submit 'Aceptar', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("Cancelar")),
                labs_path, :class => 'btn btn-default' %>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
    $('select').material_select();
  });
  </script>
<% end %>
