<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Veterinaria" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Veterinaria</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
          <%if !current_user.nil? %>
              <%if current_user.role.name == 'cliente' %>
<<<<<<< HEAD
                <li><%= link_to "Mascotas", "/mascotas"  %></li>    
                <li><%= link_to "Almacenes", "/products"  %></li>
=======
                <li><%= link_to "Inicio", "/mascotas"  %></li>    
>>>>>>> 2eef685c408dbe60ba02951295ddb5467f043290
              <%elsif current_user.role.name == 'veterinario' %>
                <li><%= link_to "Servicios", "/servicios"  %></li>
                <li><%= link_to "Mascotas", "/mascotas"  %></li>
                <li><%= link_to "Hospitalización", "/hospitalizaciones"  %>
                <li><%= link_to "Ingresos", "/ingresos"  %></li>
              <%elsif current_user.role.name == 'almacenero' %>  
                <li><%= link_to "Almacenes", "/products"  %></li>
                <li><%= link_to "Tipo de productos", "/type_products"  %></li>
              <%else%>
                <li><%= link_to "Servicios", "/servicios"  %></li>
                <li><%= link_to "Mascotas", "/mascotas"  %></li>
                <li><%= link_to "Hospitalización", "/hospitalizaciones"  %>
                <li><%= link_to "Almacenes", "/products"  %></li>
                <li><%= link_to "Tipo de productos", "/type_products"  %></li>
                <li><%= link_to "Administrar Usuarios", "/admin/users"  %></li>
              <%end%>
        <%end%>   
          </ul>
          <ul class="nav navbar navbar-right ">
            <% if current_user%>
                <li><%= link_to('Cerrar sesión', destroy_user_session_path, method: :delete) %>        </li>
            <% else %>
                <li><%= link_to('Iniciar Sesión', new_user_session_path)  %>  </li>
            <% end %>
          </ul>
        </div>
      </div>
      
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%# current_user.role.name %>
          <%if !current_user.nil? %>
          <%if current_user.data_id.nil? %>
              <%if current_user.role.name == 'cliente' %>
                <h3>Registre Sus datos en cliente </h3>
                <%= link_to 'Registre Sus Datos',new_client_path %>
              <%elsif current_user.role.name == 'veterinario' %>
                <h3>Registre Sus datos en Veterinario </h3>
                <%=link_to "Registre Sus Datos",new_veterinary_path %>
              <%end%>
          <%end%>
          <%end%>
          <%# current_user.to_json %>          
          <%= yield %>
        </div>
        <div class="col-lg-3">
          <div class="sidebar-nav">
            <h3>Información</h3>
            <ul class="nav nav-list">
              <li><%= link_to "Ubicación", "https://goo.gl/maps/aHCBoREzvrt"  %></li>
              
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; Veterinaria 2017</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
